<h1 style="text-align:center;">My Todo Lists</h1>

<% if @todo_lists.empty? %>
	<%= link_to "Create your first Todo List", todo_lists_new_path %>
<% else %>
	<% @todo_lists.each do |todo_list| %>
		<ul> 
			<b>Title:</b> <%= todo_list.title %> 
			<li><%= link_to "view", todo_list_path(todo_list.id) %></li>
			<li><%= link_to "edit", edit_todo_list_path(todo_list.id) %></li>
			<li><%= link_to "delete", delete_todo_list_path(todo_list.id), method: :delete, data: { confirm: "Are you sure?" } %></li>
		</ul>
	<% end %>
<% end %>
